@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Pacifico&display=swap');


.section-title{
    font-size: 3.5rem;
    text-align: center;
}

.about {
    padding: 60px 0;
    background-color: var(--first-color);
    text-align: center;
}

.about__content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.about__card {
    background-color: var(--title-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: var(--white-color);
    display: flex;
    align-items: center;
    height: 250px;
    gap: 20px;
}

.about__card:nth-child(even) {
    flex-direction: row-reverse;
}

.about__card img {
    border-radius: 10px;
    object-fit: cover;
}

.about__card h2 {
    font-size: 2rem;
    color: var(--white-color);
    margin-bottom: 20px;
    font-family: var(--second-font);
}

.about__card p {
    font-size: 1.2rem;
    color: var(--white-color);
    margin-bottom: 20px;
    line-height: 1.6;
}

.about__container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about__container.left {
    flex-direction: row;
}

.about__container.left .about__card {
    flex-direction: row;
}

.about__container.left .about__card h2 {
    order: 1;
}

.about__container.left .about__card p {
    order: 2;
}

.about__container.right {
    flex-direction: row-reverse;
}

.about__container img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}


@media (max-width: 768px) {
    body {
        padding-top: 80px;
    }

    .menu ul {
        flex-direction: column;
        gap: 10px;
    }

    .about {
        padding: 40px 0;
    }

    .section-title {
        font-size: 2rem;
    }

    .about__content {
        grid-template-columns: 1fr;
    }

    .about__card {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .about__card img {
        width: 100px;
        height: 100px;
    }

    .about__card h2 {
        font-size: 1.5rem;
    }

    .about__card p {
        font-size: 1rem;
    }

    footer {
        padding: 20px 0;
    }
}

@media (max-width: 480px) {
    nav.navbar {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    nav.navbar .logo img {
        height: 60px;
    }

    .menu ul {
        margin-right: 0;
    }

    .section-title {
        font-size: 1.5rem;
    }

    .about__card img {
        width: 80px;
        height: 80px;
    }

    .about__card h2 {
        font-size: 1.2rem;
    }

    .about__card p {
        font-size: 0.9rem;
    }

    footer {
        padding: 10px 0;
    }
}