@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Pacifico&display=swap');

header {
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
}


.contact-section {
    padding: 60px 20px;
    background: linear-gradient(to bottom, var(--first-color-light), var(--first-color));
    border-radius: 10px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.contact-section h1 {
    font-size: 2.5rem;
    color: var(--title-color);
    margin-bottom: 20px;
    font-family: var(--second-font);
}

.contact-section p {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 40px;
    line-height: 1.6;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

form label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color-light);
    text-align: left;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--first-color-alt);
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

form input:focus, form select:focus, form textarea:focus {
    border-color: var(--title-color);
    outline: none;
    background-color: #f9f9f9;
}

form button {
    background-color: var(--second-color);
    color: var(--white-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: var(--first-color-light);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .contact-section {
        padding: 40px 10px;
    }

    form {
        padding: 15px;
    }

    form input, form select, form textarea {
        padding: 8px;
    }

    form button {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .contact-section h1 {
        font-size: 2rem;
    }

    .contact-section p {
        font-size: 1rem;
    }

    form {
        padding: 10px;
    }

    form input, form select, form textarea {
        padding: 6px;
    }

    form button {
        padding: 6px 12px;
    }
}
